* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  background-color: beige;
  font-family: "Roboto", sans-serif;
}

/* =========== per sticky navbar =========== */
/* Page content */
.content {
  padding: 16px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/* =========== fine  sticky navbar =========== */

.container-1 {
  display: flex;
  justify-content: space-between;
  background-color: #0c5432;
}

.container-1 ul li {
  display: inline-block;
  padding: 0.6rem 0;
  margin-left: 1rem;
}

.container-1 .fa-brands {
  color: white;
  font-size: 1.2rem;
}

.right-section {
  margin-right: 1rem;
}

.right-section,
.fa-solid,
.fa-regular {
  color: white;
  font-size: 1.2rem;
}

#credenziale {
  text-decoration: none;
  background-color: #f8f9fa;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  background-color: #106c40;
}

.container-2 .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 1rem;
}

.container-2 .logo img {
  width: 450px;
}

.menu {
  /* Border */
  display: flex;
  font-weight: 500;
  font-size: 0.9rem;
  /* Reset list styles */
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

.menu li {
  cursor: pointer;
  /* Spacing */
  padding: 0.25rem;
  margin: 0 0.3rem;

  /* Used to position the sub nested-dropdowns */
  position: relative;
}

/* The sub nested-dropdowns */
.navbar__items {
  /* Border */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  /* Hidden by default */
  display: none;

  /* Absolute position */
  left: 10%;
  position: absolute;
  top: 120%;

  /* Reset styles */
  width: auto;
  white-space: nowrap;
  font-size: 0.9rem;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  background-color: #106c40;
  z-index: 1000;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu-dropdown {
  color: white;
}

.navbar__items li:hover {
  border-bottom: 1px solid #ffc900;
}

.fa-globe {
  color: white;
  font-size: 0.9rem;
  padding-left: 0.2rem;
}

.menu-dropdown::after {
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
}

/* =========== Inizio main  =========== */

.main-news {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(https://camminomaterano.it/img/bg-news.jpg);
  background-position: 0 100%;
  background-size: cover;
  text-shadow: 1px 1px 1px rgba(55, 55, 55, 0.4);
  height: 29rem;
  padding: 16rem 10rem 10rem 10rem;
}

.main-news h1,
h3 {
  color: white;
  display: flex;
}

.main-news h1 {
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: -1rem;
}

.main-news h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.drop {
  display: block;
}

hr.short {
  height: 2px;
  max-width: 150px;
  opacity: 1;
}

.text-warning {
  color: #ffc900 !important;
}

hr {
  background-color: currentColor;
  border: 0;
  margin: 1rem 0;
  opacity: 0.25;
}

/* =========== fine main =========== */

.background {
  background: linear-gradient(hsla(0, 0%, 78%, 0), hsla(0, 0%, 78%, 0)),
    url(https://camminomaterano.it/img/bg-map-white.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0.8rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: gray;
  cursor: pointer;
}

.main-nav ul li:hover {
  font-weight: 500;
  color: rgb(41, 41, 41);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  gap: 2rem;
}

.card img {
  border-radius: 20px;
  width: 500px;
  height: 350px;
  object-fit: cover;
}

.info {
  margin: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.calendario {
  color: gray;
  font-size: 0.9rem;
  padding: 0;
}

.calendario::before {
  font-family: "Font Awesome 5 Free";
  content: "\f073";
  font-size: 0.9rem;
  padding: 0 1rem 0 0;
}

.notizie {
  color: gray;
  font-size: 0.9rem;
}

.notizie::after {
  background-color: #ffc900;
  border-radius: 7.5px;
  content: "";
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
  position: relative;
  top: 2px;
}

.titolo h3 {
  display: block;
  width: 500px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #212529;
  font-weight: 600;
}

.sottotitolo p {
  display: block;
  width: 500px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #6c757d;
}

.leggitutto a {
  text-decoration: none;
  color: #6c757d;
  font-weight: 500;
  font-size: 0.9rem;
}

.leggitutto a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f075";
  font-size: 1rem;
  padding: 0 1rem 1rem 1rem;
  color: #ffc900;
}
